<div class="navbar_portfolio">

  <ul class="navbar-links">
    <li class="navbar-item" id="name">
      <%= link_to "István Lázár", root_path %>
    </li>
    <li class="navbar-item" id="empty_space">

    </li>
    <li class="navbar-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="navbar-item">
      <%= link_to "About Me", about_me_path %>
    </li>
    <li class="navbar-item">
      <%= link_to "Education", education_path %>
    </li>
    <li class="navbar-item">
      <%= link_to "Achievements", achievements_path %>
    </li>
    <li class="navbar-item">
      <%= link_to "Contact", contact_path %>
    </li>
  </ul>
  <div class="logo"><%= link_to "István Lázár.", root_path %></div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

</div>
